<footer id="footer-content" class="bg-grau t20">
  <div id="footer">
    <nav class="row">
      <section class="columns social-icons">
        <div>
          <ul class="inline-list">
            {% for social_item in site.data.socialmedia %}
            <li><a href="{{ social_item.url }}" target="_blank"><i class="{{ social_item.class }}"></i></a></li>
            {% endfor %}
          </ul>
        </div>
      </section>
    </nav>
    <nav class="row">
      <section class="columns">
        <p>
          &#169; 1991-2026 Karina Zile. This website does not use cookies.
        </p>
      </section>
    </nav>
  </div>
</footer>
