{% comment %}
  Renders one side of the top-bar navigation.
  Usage: {% include _navigation_side.html side="left" %}
{% endcomment %}
<ul class="{{ include.side }}">
  {% for link in site.data.navigation %}
    {% if link.side == include.side %}
      {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% assign _baseurl = '' %}
      {% elsif link.url == '#' %}
        {% assign domain = '' %}
        {% assign _baseurl = site.baseurl %}
      {% else %}
        {% assign domain = site.url %}
        {% assign _baseurl = site.baseurl %}
      {% endif %}
      {% if link.dropdown == nil %}
        <li{% if link.url == page.url %} class="active"{% endif %}>
          <a {% if link.class %}class="{{link.class}}"{% endif %} href="{{ link.url }}">
            {{ link.title | escape }}
          </a>
        </li>
      {% else %}
        <li class="has-dropdown{% if link.url == page.url %} active{% endif %}">
          <a {% if link.class %}class="{{link.class}}"{% endif %} href="{{ link.url }}">{{ link.title | escape }}</a>
            <ul class="dropdown">
              {% for dropdown_link in link.dropdown %}
                {% if dropdown_link.url contains 'http' %}
                  {% assign domain = '' %}
                  {% else %}
                  {% assign domain = site.url %}
                {% endif %}
                <li><a {% if dropdown_link.class %}class="{{dropdown_link.class}}"{% endif %} href="{{ dropdown_link.url }}">{{ dropdown_link.title | escape }}</a></li>
              {% endfor %}
            </ul>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
