<div id="navigation" class="sticky">
  <nav class="top-bar" role="navigation" data-topbar>
    <ul class="title-area">
      <li class="name"><h1><a href="/">{% include _logo.html %}</a></h1></li>
      <li class="toggle-topbar menu-icon"><a href="#"><span><!-- Blank span needed to show menu burger --></span></a></li>
    </ul>
    <section class="top-bar-section">
      {% include _navigation_side.html side="left" %}
      {% include _navigation_side.html side="right" %}
    </section>
  </nav>
</div>
