{% capture widget_image %}{{ site.urlimg }}{{ include.widget.image }}{% endcapture %}

<div class="medium-{{ include.grid_column_size_attribute }} columns{% if include.end %} end{% endif %} widget" style="margin-bottom: 10px;">
	{% if include.widget.url != empty %}<a href="{{ include.widget.url }}">{% endif %}
		{% if widget_image != empty %}<img src="{{ widget_image }}" width="303px" height="202px"/>{% endif %}
	{% if include.widget.url != empty %}</a>{% endif %}

	{% if include.widget.title != empty %}
	<h2 class="font-size-h3 t10 b15">{{ include.widget.title }}</h2>
	{% endif %}

	{% if include.widget.location != empty %}
	<p class="subheadline">{{ include.widget.location }}</p>
	{% endif %}

	{% if include.widget.dates != empty %}
	<p class="subheadline">{{ include.widget.dates }}</p>
	{% endif %}

	{% if include.widget.text != empty %}
	<p>{{ include.widget.text }}</p>
	{% endif %}
</div>
