{% assign grid_column_size_attribute = 12 | divided_by: include.articles_per_row %}

{% for widget in include.widgets %}
  {% assign column = forloop.index0 | modulo: include.articles_per_row %}
  {% if column == 0 %}<div class="row">{% endif %}

    {% include _widget.html widget=widget grid_column_size_attribute=grid_column_size_attribute end=forloop.last %}

  {% assign row_end = forloop.index | modulo: include.articles_per_row %}
  {% if row_end == 0 or forloop.last %}</div>{% endif %}
{% endfor %}
