---
layout: compress
---
<!doctype html>
<html class="no-js" lang="en">
<head>
	{% include _head.html %}
</head>
<body id="top-of-page">
	{% unless page.skip_boilerplate %}
	{% include _navigation.html %}
	{% endunless %}

	{% if page.header.image_fullwidth %}
	<div id="masthead"></div>
	{% endif %}

	<div class="row t30">
		<div class="{% if page.slim %}medium-8 medium-offset-2 {% endif %}columns end">
			<article itemscope itemtype="http://schema.org/Article">
				<header>
					{% if page.image.title %}
					<figure>
						<img src="{{ site.urlimg }}{{ page.image.title }}" width="970px" alt="{{ page.title | escape_once }}" itemprop="image">

						{% if page.image.caption_url and page.image.caption %}
						<figcaption class="text-right">
							<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
						</figcaption>
						{% elsif page.image.caption %}
						<figcaption class="text-right">
							{{ page.image.caption }}
						</figcaption>
						{% endif %}
					</figure>
					{% endif %}

					<div itemprop="name"{% if page.title_centered %} class="text-center"{% endif %}>
						{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
						<h1>{{ page.title }}</h1>
					</div>
				</header>

				{% if page.teaser %}
				<p class="teaser" itemprop="description">
					{{ page.teaser }}
				</p>
				{% endif %}

				<div itemprop="articleSection">
					{{ content }}
				</div>
			</article>
		</div>
	</div>

	{% unless page.skip_boilerplate %}
	{% include _footer.html %}
	{% endunless %}

	<script src="/assets/js/javascript.js"></script>

	{% if page.header.image_fullwidth %}
	<script>
		$("#masthead").backstretch("{{ site.urlimg }}{{ page.header.image_fullwidth }}");
	</script>
	{% endif %}
</body>
</html>
